=javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'
:javascript
  window.jQuery || document.write('<script src="assets/javascripts/vendor/jquery-2.1.3.min.js"><\/script>')
=javascript_include_tag 'main.js',
                        'application.js'
