=javascript_include_tag '//cdn.bootcss.com/jquery/3.2.1/jquery.min.js'
:javascript
  //jQuery CDN fallback
  window.jQuery || document.write('<script src="assets/javascripts/vendor/jquery.min.js"><\/script>')
=javascript_include_tag 'main.js',
                        'application.js'
