-@title= 'Home page | Middleman Starter Kit'
-@page_classes= 'home'

.container
  .row
    .col-lg-12
      .jumbotron.mt-50
        .text-center
          %h1 Middleman Starter Kit
          %i.fa.fa-rocket.fa-5x.mt-50
