-@title= 'Home page | Middleman Template'
-@page_classes= 'home'

.container
  .row
    .col-lg-12
      .jumbotron.mt-50
        .text-center
          %h1 Middleman Starter Kit Template
          %i.fa.fa-university.fa-5x.mt-50
