-@title= 'Middleman Starter Kit'
-@page_classes= 'home'


%main{role:'main', class:'main'}
  %section{class:'section-img'}
    =image_tag 'middleman-logo.svg', class:'img-svg', alt: 'middleman'
  %section{class:'section-text'}
    %p
      :markdown
        # Hello There!
        Middleman v4 starter kit template created for middleman front-end development.

        ### Quick start
        `middleman init your_project_name --template=middleman-starter-kit`

        More information is [here](https://middlemanapp.com/advanced/project_templates/)

        ### What's Include
        Middleman start kit template basically build on HTML5 Boilerplate front-end
        template. Ready to use Rails assets file structure, Sass file structure

        - Middleman v4
        - Haml v5
        - Sass
        - Autoprefixer
        - ECMAScript 6
        - Editor Config
        - Simple sitemap helper
        - humans.txt
        - Open graph meta tags
