<main role="main" class="main">
  <section class="section-img">
    <%= image_tag ('middleman-logo.svg'), class:'img-svg', alt:'middleman'%>
  </section>
  <section class="section-text">
    <h1>
      Hello There!
    </h1>
    <p>
      Middleman v4 starter kit template created for middleman front-end development.
    </p>
    <h2>
      Quick start
    </h2>
    <code>
      middleman init your_project_name --template=middleman-starter-kit
    </code>
    <p>
      More information is 
      <a href="https://middlemanapp.com/advanced/project_templates/" target="_blank">
        here
      </a>
    </p>
    <h3>
      What's Include
    </h3>
    <p>
      Middleman start kit template basically build on HTML5 Boilerplate front-end
      template. Ready to use Rails assets file structure, Sass file structure    
    </p>
    <ul>
      <li>
        Middleman v4
      </li>
      <li>
        Haml v5
      </li>
      <li>
        Sass
      </li>
      <li>
        Autoprefixer
      </li>
      <li>
        ECMAScript 6
      </li>
      <li>
        Editor Config
      </li>
      <li>
        Simple sitemap helper
      </li>
      <li>
        humans.txt
      </li>
      <li>
        Open graph meta tags
      </li>
    </ul>
  </section>
</main>
