<% @page_title= 'Middleman Starter Kit' %>
<% @page_classes= 'page-home min-h-screen bg-gray-900 text-white' %>

<main role="main" class="mx-auto max-w-3xl text-center pt-5">
  <h1 class="text-5xl">
    Hi from Middleman Starter Kit
  </h1>
  <ul class="my-8 space-y-4"> 
    <li>
      Middleman
    </li>
    <li>
      Webpack
    </li>
    <li>
      Tailwind
    </li>
    <li>
      Stimulus.js
    </li>
  </ul>
</main>
