<% @page_title= 'Middleman Starter kit' %>
<% @page_classes= 'page-home' %>

<main role="main" class="pl--2 pr--2 pt--3">
  <section class="d--grid col--2 justify-items--center">
    <article>    
      <%= image_tag ('middleman-logo.svg'), alt:'middleman'%>
      <h2>
        Middleman
      </h2>
    </article>
    <article>
      <%= image_tag ('logo-beige.svg'), alt:'stimulus'%>
      <h2>
        Stimulusjs
      </h2>
    </article>
  </section>
  <section>
    <h1>
      Hello There!
    </h1>
    <p>
      Middleman v4 starter kit template created for middleman front-end development.
    </p>
    <h2>
      Quick start
    </h2>
    <code>
      middleman init your_project_name --template=middleman-starter-kit
    </code>
    <p>
      More information is 
      <a href="https://middlemanapp.com/advanced/project_templates/" target="_blank">
        here
      </a>
    </p>
    <h3>
      What's Include
    </h3>
    <p>
      Middleman start kit template basically build on HTML5 Boilerplate front-end
      template. Ready to use Rails assets file structure, Sass file structure    
    </p>
    <ul>
      <li>
        Middleman v4
      </li>
      <li>
        Stimulusjs
      </li>
      <li>
        Turbolinks
      </li>
      <li>
        Sass
      </li>
      <li>
        Autoprefixer
      </li>
      <li>
        ECMAScript 6
      </li>
      <li>
        Editor Config
      </li>
      <li>
        Simple sitemap helper
      </li>
      <li>
        humans.txt
      </li>
      <li>
        Open graph meta tags
      </li>
    </ul>
  </section>
</main>
