-@title= 'Middleman Starter Kit'
-@page_classes= 'home'

.container
  .row
    .col-sm-12.mt-50
      .jumbotron.text-center
        .page-header
          %h1 Middleman Starter Kit
          %i.fa.fa-university.fa-3x

